.customCursor {
  position: fixed;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 20vw;
  pointer-events: none;
  transform: translate(7.5%, -50%);
  transition: width 0.3s, height 0.3s;
  will-change: transform, opacity;
  opacity: 0;
  visibility: hidden;
}
.customCursor.visible {
  opacity: 1;
  visibility: visible;
}

/* Image styling */
.cursorImageContainer {
  position: absolute;
  overflow: hidden;
  background: var(--cream);
  border-radius: 4px;
  inset: 0;
  border: 1.6rem solid var(--cream);
  z-index: 1;
}